includes:
    - %rootDir%/../phpstan-doctrine/extension.neon
    - %rootDir%/../phpstan-symfony/extension.neon
    - %rootDir%/../phpstan-symfony/rules.neon

parameters:
    treatPhpDocTypesAsCertain: false
    inferPrivatePropertyTypeFromConstructor: true
    excludePaths:
        - vendor/
    checkMissingIterableValueType: false

