includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    treatPhpDocTypesAsCertain: false
    inferPrivatePropertyTypeFromConstructor: true
    excludes_analyse:
        - vendor/
    ignoreErrors:
        - '#Method (.*) has no return typehint specified.#'
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface::end\(\).#'
    checkMissingIterableValueType: false

